body {
    background: silver;
}

#header {
    padding: 20px;
    background: rgb(88, 123, 238);
}

#content {
    background: #ffff;
    padding: 20px;
}

#footer {
    background: rgb(88, 123, 238);
    padding: 20px;
}